@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:ital,wght@1,100&family=Ubuntu:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 992px) {

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp_float {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
}

.whatsapp_float_btn {
  border-radius: 5px;
}

.side {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  width: 70px;
  margin-top: 150px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .4);
}

@media screen and (max-width: 992px) {
  .side {
    display: none;
  }
}

.side li {
  height: 60px;
  position: relative;
}

.side ul {
  display: contents;
}

.side li a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  transition: all .3s linear;
  text-decoration: none;
  list-style: none;
}

.side li:nth-child(1) a {
  background-color: #4267B2;
}

.side li:nth-child(2) a {
  background-color: #1DA1F2;
}

.side li:nth-child(3) a {
  background-color: #C13584;
}

.side li:nth-child(4) a {
  background-color: #00d018;
}

.side li a i {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;

}

.side li a span {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: none;
}

.side a:hover {
  z-index: 1;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

.side ul li a:hover span {
  display: block;
  padding-left: 30%;
}

@media screen and (max-width: 600px) {
  .call {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
}

.call {
  background-color: rgb(75, 75, 255);
  text-align: center;
}

.call a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.img1 {
  width: 8rem;
  height: 3.5rem;
  /* margin: 1rem; */
  margin-left: 12rem;
}

@media only screen and (max-width: 480px) {
  .img1 {
    width: 8rem;
    height: 3.5rem;
    margin-left: 0rem;
  }
}

.container-fluid {
  background-color: white;
}

.navbar {
  color: white;
}

.navbar-expand-lg {
  background-color: white;
}

.bg-body-tertiary {
  background-color: white;
}

.home {
  margin-left: 1rem;
}

@media only screen and (max-width: 480px) {
  home {
    margin-left: 1rem;
  }
}

.home2 {
  margin-left: 1rem;
}

.home3 {
  margin-left: 1rem;
}

.heading1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-top: revert;
}

.hedu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.img2 {
  margin-top: 2rem;
}

.edit {
  /* text-align: center; */
  color: rgb(0, 0, 179);
  display: inline-block;
}

.editing {
  display: inline-block;
}

/* Create four equal columns that floats next to each other */

.column {
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 12rem;
  /* height: 20rem; */
}

.container1:after {
  content: "";
  display: table;
  clear: both;
}

.form {
  margin-left: 11rem;
  background: linear-gradient(to bottom, #3399ff 0%, #ccffff 100%);
  padding: 18px;
  height: 30rem;
  border-radius: 15px;
  margin-top: 3rem;
  max-width: 25rem;
}

.sponsers {
  padding: 20px;
  width: 70rem;
  margin-left: 8rem;
}

.subsponser{
  margin-right: 7rem;
}
@media only screen and (max-width: 600px) {
  .subsponser {
    margin-left: 69px;
  }
}

.form h4{
  text-align: center;
}

.head {
  text-align: center;
  font-weight: bolder;
  color: rgb(230, 92, 0);
  font-family: 'Open Sans', sans-serif;
}

.head2 {
  font-weight: bolder;
  /* color: rgb(230, 92, 0); */
  font-family: 'Open Sans', sans-serif;
}

.btn1 {
  font-weight: bolder;
  border: 2px solid #ff6633;
  border-radius: 5px;
  background: linear-gradient(to left, #ff9933 0%, #ff0000 100%);
  margin-top: 12px;
  width: 31rem;
  height: 30px;
  text-decoration: none;
  color: white;
}

.btn2 {
  font-weight: bolder;
  border: 2px solid #ff6633;
  border-radius: 5px;
  background: linear-gradient(to left, #ff9933 0%, #ff0000 100%);
  margin-top: 10px;
  width: 20rem;
  height: 30px;
  color: white;
  margin-left: 8px;
}

.p1 {
  margin-left: 15px;
  margin-top: 20px;
}

.img3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 2rem;
}

.img4 {
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-left: 9rem;
}

.para2 {
  margin-top: 10px;
  margin-left: 6rem;
}

#name {
  border-radius: 8px;
  width: 20rem;
  padding: 7px;
}

#number {
  border-radius: 8px;
  width: 20rem;
  padding: 7px;
  margin: 6px;
}

#prblm {
  border-radius: 8px;
    width: 20rem;
    padding: 7px;
    margin: 6px;

}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
    display: contents;
  }
}

@media screen and (max-width: 992px) {
  .heading1 {
    display: contents;
  }
}

@media screen and (max-width: 992px) {
  .sponsers {
    display: inline;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .sponsers {
    display: inline;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .img2 {
    width: 100%;
    margin: 12px;
    /* display: contents; */
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    display: block;
    margin-inline: auto;
    margin-left: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .btn2 {
    font-weight: bolder;
    border: 2px solid #ff6633;
    border-radius: 5px;
    background: linear-gradient(to left, #ff9933 0%, #ff0000 100%);
    margin-top: 10px;
    width: 20rem;
    height: 30px;
    color: white;
    margin-left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .form {
    width: 95%;
    display: block;
    margin-inline: auto;
    margin-left: 11px;
    padding: 6px;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .btn1 {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .img2 {
    width: 100%;
    margin: 12px;
  }
}

@media screen and (max-width: 600px) {
  .btn1 {
    width: 80%;
  }
}


.head2 {
  text-align: center;
}


.sponsers:after {
  content: "";
  display: table;
  clear: both;
}

.sponser1 {
  /* margin-top: 2px; */
  height: 5rem;
  /* margin-right: 2rem; */
  width: 14rem;
}

@media screen and (max-width: 600px) {
  .sponser1 {
    height: 5rem;
    /* margin-right: 2rem; */
    width: 14rem;
    margin: 12px;
    margin-left: initial;
  }
}

.btn3 {
  margin-left: 27rem;
  margin-top: 1.5rem;
  margin-bottom: 13px;
  border: none;
  border-radius: 30px;
  padding: 12px;
  background-color: #ff6900;
  color: white;
  font-weight: bold;
}

.btn3:hover{
  color: rgb(10, 10, 11);
}

/* .ed {
  height:;
} */

@media screen and (max-width: 600px) {
  .btn3 {
    display: block;
    width: 71%;
    margin-left: 3rem;
  }
}

.highlights {
  display: inline-block;
  width: 50%;
  margin-left: 10rem;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .loc {
    display: inline-block;
    margin-right: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .img11 {
    /* margin-right: 10rem; */
    height: 10rem;
    float: right;
  }
}

.book {
  text-decoration: none;
  border: 2px solid none;
  background: linear-gradient(to left, #ff9933 0%, #ff0000 100%);
  color: white;
  padding: 15px;
  margin-left: 20px;
  border-radius: 7px;
}

.book:hover{
  color: #0b0b0b;
}

.maap {
  /* background-color: #3399ff; */
  float: right;
  margin-top: 4rem;
  margin-right: 11rem;
}

.why {
  /* text-align: center;  */
  /* background-color: antiquewhite; */
  margin-left: 9rem;
  width: 80%;
  /* margin: 2rem; */
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .highlights {
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: -1rem;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .book {
    width: 11rem;
  }
}

@media screen and (max-width: 600px) {
  .maap {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .why {
    margin-left: 3rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .headwhy {
    width: 24rem;
    margin-left: -4rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .lists {
    width: 20rem;
    margin-left: -2rem;
  }
}


/* Copied */

.dam {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.products {
  width: 20%;
  margin: 15px;
  /* margin-left: 1rem; */
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: #f2f2f2;
}

.products:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.Photos {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.w {
  height: 150px;
}

.s {
  height: 180px;
}

.r {
  height: 175px;
}

.eli {
  height: 8.5rem;
}

.eli2 {
  height: 11rem;
}

.eli3 {
  height: 10rem;
}

.wli1 {
  height: 8.5rem;
}

.wli2 {
  height: 12rem;
}

.wli3 {
  height: 11.5rem;
}

.sli1 {
  height: 9rem;
}

.sli2 {
  height: 9rem;
}

.sli3 {
  height: 11rem;
}

.rli1 {
  height: 10rem;
}

.rli2 {
  height: 8rem;
}

.rli3 {
  height: 8.5rem;
}

.pforp {
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
}

.ulforul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.liforli {
  padding-top: 5px;
}

.fa {
  font-size: 26px;
  transition: 0.4s;
  margin: 3px;
}

.checked {
  color: #ff9f34;
}

.fa:hover {
  transform: scale(1.3);
  transition: .6s;
}

.btun {
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buy-1 {
  background: #2183a2;
}

.buy-2 {
  background: #3b3e6e;
}

.buy-3 {
  background: #0b0b0b;
}

.buy-4 {
  background: #ff9f43;
}

@media(max-width:1000px) {
  .products {
    width: 45%;
  }
}

@media(max-width:750px) {
  .products {
    width: 75%;
  }
}

.prhead {
  text-align: center;
  color: #ff6900;
}

.plhead {
  text-align: center;
  color: #ff6900;
}

.pb {
  background: #2183a2;
}

.wb {
  background: #3b3e6e;
}

.sb {
  background: #0b0b0b;
}

.rb {
  background: #ff9f43;
}

.endinghead {
  text-align: center;
  color: #ff6900;
}

.ending {
  padding: 30px;
}

.map {
  width: 100%;
  height: 60rem;
}

.section2 {
  width: 100%;
  /* height: 50vh; */
  /* background-color: #3c4053; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  /* margin-left: 23%; */
}


.accor {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* margin-top: 30rem;
  margin-bottom: 30rem; */
}

@media screen and (max-width: 600px) {
  .accor {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .accor {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

.accordion-item {
  background-color: #ffffff;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 0.1);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgb(28, 25, 25);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

ion-icon {
  padding: .5rem;
}

.accordion-link .remove-outline {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
  /* font-size: 1.4rem; */
}

.answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: blue;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .add-outline {
  display: none;
}

.accordion-item:target .accordion-link .remove-outline {
  display: block;
}

.headfaq {
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
}


.whatsapp_float {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
}

.whatsapp_float_btn {
  border-radius: 5px;
}

.map{
  display: inline-block;
  width: 30%;
  height: auto;
  margin-left: 8rem;
}

.address{
  float: right;
  width: 30%;
  margin-right: 20rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .map {
    /* display: inline-block; */
    width: 100%;
    height: auto;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .address h4{
    margin-left: 4rem;
    width: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .address hr{
    width: 100%;
    margin-left: 10rem;
  }
}
footer {
  text-align: center;
}
